@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr--orange: #d48012;
}
body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  object-fit: cover;
}
/* global classes */
.link {
  color: inherit;
  text-decoration: none;
  transition: 0.1s linear;
}
.link:hover {
  color: grey;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  border: none;
  background-color: transparent;
}
.text-main {
  letter-spacing: 2px;
  font-size: 1.1rem;
  text-align: center;
}
.nav {
  position: sticky;
  top: 0;
  height: 50px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}
